@import "tailwindcss";

:root {
  --background: #232829;
  --foreground: #171717;
  --color-accent: #fdb056;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
  --font-mulish: var(--font-mulish);
  --color-accent: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232829;
    --foreground: #ededed;
    --color-accent: var(--color-accent);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
